<a href="https://colab.research.google.com/github/Akashdeep-47/Python-Code/blob/master/Experiment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TEXT PART OF EXPERIMENT

In [ ]:
file1 = open("file.txt", "w")

str = ["Akashdeep Gupta \n", "Pursing B.Tech \n", "Information Technology \n"]

file1.write("Good Afternoon \n")
file1.writelines(str)
file1.close()

file1 = open("file.txt", "r+")

# print("Output of 'read' function : ")
# print(file1.read())

In [ ]:
print("Output of 'readLine' function : ")
print(file1.readline())

Output of 'readLine' function :
Good Afternoon

In [ ]:
print("Output of 'readLines' function : ")
print(file1.readlines())

Output of 'readLines' function :
['Akashdeep Gupta \n', 'Pursing B.Tech \n', 'Information Technology \n']

CSV PART OF EXPERIMENT

In [ ]:
import pandas as pd

In [ ]:
students = {'Name' : ['Akashdeep Gupta', 'Aman Kumar', 'Govind Singh', 'Yash Singh'], 'Department' : ['IT', 'ECE', 'CSE', 'EN'], 'E-Mail' : ['xyz@gmail.com', 'xyz@gmail.com', 'xyz@gmail.com', 'xyz@gmail.com']}

In [ ]:
#Export
students = pd.DataFrame.from_dict(students)
students.to_csv("Students.csv")

In [ ]:
#Import
data_pd = pd.read_csv("Students.csv")

In [ ]:
data_pd

   Unnamed: 0             Name Department         E-Mail
0           0  Akashdeep Gupta         IT  xyz@gmail.com
1           1       Aman Kumar        ECE  xyz@gmail.com
2           2     Govind Singh        CSE  xyz@gmail.com
3           3       Yash Singh         EN  xyz@gmail.com

XLS PART OF EXPERIMENT

In [41]:
#Export
students = pd.DataFrame.from_dict(students)
students.to_excel("Students.xlsx")

In [47]:
data_pd1 = pd.read_excel("Students.xlsx")

In [48]:
data_pd

   Unnamed: 0             Name Department         E-Mail
0           0  Akashdeep Gupta         IT  xyz@gmail.com
1           1       Aman Kumar        ECE  xyz@gmail.com
2           2     Govind Singh        CSE  xyz@gmail.com
3           3       Yash Singh         EN  xyz@gmail.com