<a href="https://colab.research.google.com/github/Akashdeep-47/Python-Code/blob/master/Experiment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
# Read csv file into a pandas dataframe
df = pd.read_csv("/content/sample_data/employees.csv")
print(df.head())

  First Name  Gender  Salary Bonus % Senior Management             Team
0    Douglas    Male   97308   6.945              TRUE        Marketing
1     Thomas    Male   61933     NaN              TRUE              NaN
2      Maria  Female  130590  11.858             FALSE          Finance
3      Jerry    Male     NaN    9.34              TRUE          Finance
4      Larry    Male  101004   1.389              TRUE  Client Services

In [2]:
print(df.dtypes)
print(df.describe())

First Name           object
Gender               object
Salary               object
Bonus %              object
Senior Management    object
Team                 object
dtype: object
       First Name  Gender Salary Bonus % Senior Management             Team
count         931     852    998     997               932              957
unique        201       3    993     968                 4               13
top       Marilyn  Female  91462   8.999              TRUE  Client Services
freq           11     428      2       3               467              105

In [3]:
print(df['Gender'].head(10))

0      Male
1      Male
2    Female
3      Male
4      Male
5      n.a.
6    Female
7    Female
8       NaN
9    Female
Name: Gender, dtype: object

In [4]:
# a list with all missing value formats
missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
df = pd.read_csv("/content/sample_data/employees.csv", na_values = missing_value_formats)
#print gender again
print(df['Gender'].head(10))

0      Male
1      Male
2    Female
3      Male
4      Male
5       NaN
6    Female
7    Female
8       NaN
9    Female
Name: Gender, dtype: object

In [5]:
print(df['Gender'].isnull().head(10)) 
print(df['Gender'].notnull().head(10))

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8     True
9    False
Name: Gender, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8    False
9     True
Name: Gender, dtype: bool

In [6]:
null_filter = df['Gender'].notnull()
print(df[null_filter].head())

  First Name  Gender    Salary  Bonus % Senior Management             Team
0    Douglas    Male   97308.0    6.945              True        Marketing
1     Thomas    Male   61933.0      NaN              True              NaN
2      Maria  Female  130590.0   11.858             False          Finance
3      Jerry    Male       NaN    9.340              True          Finance
4      Larry    Male  101004.0    1.389              True  Client Services

In [7]:
print(df.isnull().values.any())

True

In [8]:
print(df.isnull().sum())

First Name            70
Gender               149
Salary                 5
Bonus %                4
Senior Management     71
Team                  48
dtype: int64

In [9]:
# drop all rows with NaN values
new_df = df.dropna(axis=0)
# check if we have any NaN values in our dataset
print(new_df.isnull().values.any())

False